@charset "utf-8";

/* CSS Document */
body {
  background-image: url("../img/sfbackground.jpg");
  color: #444;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  padding: 40px;
  text-align: center;
}

#wrapper {
  width: 900px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

html {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
}

table {
  margin: 0 auto;
  text-align: center;
}

td {
  background-color: white;
}

h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;;
  font-size: 400%;
}

h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;;
  font-size: 150%;
}

h3 {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 110%;
  padding: 20px;
}

audio {
  width: 200px;
}

.Image img {
  width: 150px;
  height: 150px;
}

a {
  padding: 15px;
  margin: 3px;
  font-size: 125%;
  background-color: white;
  color: #000000;
  border-radius: 15px;
}

a:hover {
  font-size: 150%;
  background-color: crimson;
  color: #000000;
  border-radius: 15px;
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle {
  padding: 10px;
  text-align: left;
  background-color: #beccd7;
  font-weight: bold;
  font-size: 150%;
  font-family: 'Poppins', sans-serif;;
}

.stepContent {
  background-color: #dfe6eb;
  padding: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  font-size: 110%;
  font-family: 'Poppins', sans-serif;

}

.stepDescription {
  width: 55%;
  padding: 5px;
  line-height: 145%;
text-align: left
}

.stepImage {
  width: 40%;
  padding: 5px;
  text-align: left;
}

.stepImage img {
  width: 100%;
  height: auto;
}

.warning {
  background-color: #FBB8C4;
  padding: 10px;
  border-radius: 20px;
}

.material-icons {
  color: red;
  font-size: 3em;
}

strong {
  font-weight: 800;
}

#historyText {
  text-align: left;
  margin: 20px; /* Avoids touching other element's edges */
}

.centered-links {
    text-align: center;
}

