/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color: #7d99af;   /* background color */
	color: #000000;          /* text color for the entire page */
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
	font-family: "Poppins SemiBold";
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 75%;
	margin: 0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:10px;
	text-align:left;
	background-color:#beccd7;
	font-weight: bold;
	font-size: 150%;
	font-family: "Poppins SemiBold";
	border-radius: 15px;
 }

.stepContent{ 
	background-color: #dfe6eb;
	padding:7px;
	display: flex;/*creates multiple column layout*/
	flex-wrap: wrap;
	justify-content: left;
	font-size: 110%;
	font-family: Poppins;
	border-radius: 15px;
}

.stepDescription {
	width:55%;
	padding:5px;
	line-height:145%;
}

.stepImage {
	width:40%;	
	padding:5px;
	text-align: left;
}

.stepImage img {
    width:100%;
    height:auto;
}

strong {
  font-weight: 800;
}