@charset "utf-8";
/* CSS Document */

body {
	text-align: center;
	background-color: #7d99af;
	font-family: 'Poppins', sans-serif;
}

a {
	padding: 15px;
margin: 3px;
	font-size: 100%;
	background-color:  #beccd7; 
	color:  #000000; 
	border-radius: 15px;
}

a:hover {
	font-size:125%;
	background-color:#dfe6eb; 
	color: #000000;
	border-radius: 15px;
}
