@charset "utf-8";
/* CSS Document */

#wrapper {
width: 900px;
margin: 0 auto;
text-align: center;
}

 #ice_cream1 {
border: black 5px solid;
}
#ice_cream2 {
border: black 5px solid;
}
#ice_cream3 {
border: black 5px solid;
}
#ice_cream4 {
border: black 5px solid;
}
#ice_cream5 {
border: black 5px solid;
}
 
 #cream {
display: none; /* hides content */
border: black 5px solid;
}

#milk {
display: none; /* hides content */
border: black 5px solid;
}

#sugar {
display: none; /* hides content */
border: black 5px solid;
}

#vanilla {
display: none; /* hides content */
border: black 5px solid;
}
#salt {
display: none; /* hides content */
border: black 5px solid;
}
.choices {
cursor: pointer;
}
